@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 24, 24, 27;
    /* Zinc 950 */
    --background-start-rgb: 250, 250, 249;
    /* Alabaster */
    --background-end-rgb: 250, 250, 249;
}

body {
    color: #18181B;
    background-color: #FAFAF9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}