@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  /* Blanc cassé ultra doux */
  --foreground: #404040;
  /* Gris foncé doux au lieu de noir pur */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #e5e5e5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-effect {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
  }
}